@import "tailwindcss";
*{
  font-family: 'Poppins';
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  width: 6px;
}

::-webkit-scrollbar-track{
  background: rgba(0, 0, 0, 0.9);
}

::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background: linear-gradient(to bottom, rgb(32, 91, 219), rgb(132, 58, 223));
}